body {
  margin: 0;
  background: url('img/bg.png') no-repeat top center fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
 ::-webkit-input-placeholder {
  color: $brand-grey;
}

header {
  display: flex;
  margin-left: 2rem;
  padding-top: 2rem;
  color: black;
}

main {
  margin: 0;
}

footer {
  display: flex;
  justify-content: flex-end;
  border-top: $brand-border;
}
