// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'variables';
 // @import 'grid';
@import 'base';
@import 'box-sizing';

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: $gutter;
  background: $haze;
  background-position: center center;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 60rem;
  margin: $gutter;
  background: $brand-white;
  color: $brand-light-grey;
  box-shadow: $brand-shadow;
}

.parameter__container {
  display: flex;
  flex-wrap: wrap;
}

.parameter {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 2rem 2rem;
}

.parmeter-top {
  display: flex;
  flex-grow: 1;
}

.parameter-bottom {
  flex-grow: 1;
  min-width: $input-minimum-width;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  border-bottom: $brand-border;
  outline: none;
  background: $brand-white;
  font-size: 1.2rem;
}

.button {
  width: 8rem;
  margin: $gutter;
  padding: 1rem;
  border: 0;
  border-radius: 0.2rem;
  background: $brand-primary;
  color: $brand-white;
}
