// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'variables';
@import 'grid';
@import 'base';
@import 'box-sizing';

.boss-container {
  display: flex;
  min-height: 100vh;
  padding: $gutter;

  align-items: center;
  justify-content: center;

  background: $background-haze;
  background-position: center center;
}


.modal-card {
  max-width: 55rem;
  margin: $gutter;
  box-shadow: $brand-shadow;
  background: $card-background;
display: flex;
flex-direction: column;
flex-wrap: wrap;

color: $label-color;
}
.item__container {
display: flex;
flex-wrap: wrap;
}
.item {
  display: flex;
  flex-direction: column;
  margin: $gutter;
  flex-grow: 1;
  border-bottom: $brand-border;
}
.item-top {
  display: flex;
  flex-grow: 1;
}
.item-bottom {
  outline: none;
  min-width: $input-minimum-width;
  flex-grow: 1;
  margin-bottom: .5rem;
  margin-top: .5rem;

}

.button {
background: $button-background;
margin: $gutter;
width: 8rem;
padding: 1rem;
}
