// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
body {

  margin: 0;
  background-image: url('https://github.com/TIY-TN-FEE-2016-spring/assignments/raw/master/05-form-modal/bg.png');


}
@import 'box-sizing';

.modal-container {
  width: 25%;
  margin: 25%;
  display: flex;
  flex-wrap: wrap;

}

::-webkit-input-placeholder {
  color: red;
}

.modal-card {
  width: 30rem;
  height: 30rem;
  position: fixed;
  min-width: 10rem;
  max-width: 20rem;

  border: 0.2rem solid #dcd;
  shadow: 0.2rem 0.2rem #ff0;
  display: flex;
  flex-wrap: wrap;

  background-color: #0040ff;
}

.card-title {
  font-size: 20px;
  color: red;
}

.call-log__item {

  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.button-name {
  float: right;
}
